<!DOCTYPE html>
<html>
  <head>
    <title> EMPLOYEE DASHBOARD</title>
  </head>
  <body>
    <form method="post">
      <table>
        <tr>
          <td style="width:250px;" align="center"> <input style="width:150px; height:60px;" type='submit' name='mp' value='My Profile'> </td>
          <td> <input style="width:150px; height:60px;" type='submit' name='up' value='Update Profile'> </td>
        </tr>
      </table>
      <a href="/logout"> LOGOUT </a>
  </form>
  </body>
</html>
